
/****************************** 
    General
******************************/

body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    margin: 20px 0;
}

/****************************** 
    Main Menu
******************************/

#menu {
    margin: 15px 0 25px;
    padding: 0;
}

#menu li {
    display: inline-block;
    padding-right: 15px; 
    text-decoration: underline;
    color: cornflowerblue;
}

#menu li:hover {
    color: black;
}

/****************************** 
    Blogs
******************************/

table h4 {
    display: inline-block;
    padding: 5px 15px;
    margin: 0;
}

.bloglist p {
    padding: 10px;
    margin: 0;
    font-size: 1.2em;  
}

/****************************** 
    Buttons
******************************/

button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.3s;
}

/****************************** 
    Forms
******************************/

label {
    display: block;
}

input[type="text"], 
input[type='password'],
input[type='url'] {
    display: block;
    max-width: 500px;
    margin-bottom: 10px;
}

/****************************** 
    Menu
******************************/

#menu {
    padding: 15px;
    border-radius: 10px;
}

.link {
    color: rgb(119, 187, 255);
    text-decoration: none;
    padding: 7px;
}

.link:hover {
    color: white;
    text-decoration: none;
}

.login-h {
    background-color: #007CFA;
    padding: 20px;
    color: rgb(119, 187, 255);
    margin: 20px auto;
    border-radius: 10px;
}

.logout {
    position: absolute;
    right: 20px;
}